<!-- Site footer -->
<footer class="site-footer mt-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h6>About</h6>
                <p class="text-justify">The objective of this project is to develop a fully functional e-commerce
                    website using the Angular framework, TypeScript, HTML, CSS, Bootstrap, FontAwesome icons,
                    Angular Material and JSON API. The website aims to provide users with a seamless and engaging
                    shopping
                    experience.</p>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>Categories</h6>
                <ul class="footer-links">
                    <li><a target="_blank" href="https://www.typescriptlang.org/">TypeScript</a></li>
                    <li><a target="_blank" href="https://angular.io/">Angular Framework</a>
                    </li>
                    <li><a target="_blank" href="https://www.w3schools.com/html/">HTML</a></li>
                    <li><a target="_blank" href="https://www.w3schools.com/css/">CSS</a></li>
                    <li><a target="_blank" href="https://getbootstrap.com/">Bootstrap</a></li>
                    <li><a target="_blank" href="https://jsonapi.org/">JSON API</a></li>
                </ul>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>Quick Links</h6>
                <ul class="footer-links">
                    <li><a target="_blank" href="https://minditsystems.com/aboutus/">About Us</a></li>
                    <li><a target="_blank" href="https://minditsystems.com/contact-us/">Contact Us</a></li>
                    <li><a target="_blank" href="https://minditsystems.com/technologies/">Contribute</a></li>
                    <li><a target="_blank" href="http://scanfcode.com/privacy-policy/">Privacy Policy</a></li>
                    <li><a target="_blank" href="https://minditsystems.com/services/">Sitemap</a></li>
                </ul>
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">This Angular Project Devloper by
                    <a href="https://www.linkedin.com/in/rohitsingh9191/" target="_blank">Rohit Singh</a>.
                </p>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="social-icons">
                    <li><a target="_blank" class="twitter" href="https://github.com/RohitSingh9191"><i
                                class="fa-brands fa-github fa-xl" style="color: #e1e4ea;"></i></a></li>
                    <li><a target="_blank" class="linkedin" href="https://www.linkedin.com/in/rohitsingh9191/"><i
                                class="fa-brands fa-linkedin-in fa-lg" style="color: #e1e4ea;"></i></a></li>
                    <li><a target="_blank" class="facebook" href="#"><i class="fa-brands fa-facebook-f fa-lg"
                                style="color: #e1e4ea;"></i></a></li>

                    <li><a target="_blank" class="dribbble" href="#"><i class="fa-brands fa-instagram fa-xl"
                                style="color: #e1e4ea;"></i></a></li>

                </ul>
            </div>
        </div>
    </div>
</footer>