<div class="container">
    <h1>My-Orders</h1>
    <div *ngIf="!orderData?.length" class="for-footer">
        <h2 class="text-center red mt-5">You have not ordered any Product..... </h2>
    </div>
    <div class="card mb-3 card-style mb-4 card-hower mt-5" *ngFor="let item of orderData" >
        <div class="row g-0">
            <div class="col-md-1">
                <div class="logo-margin ms-3">
                    <i class="fa-solid fa-cart-shopping fa-2xl" style="color: #437adb;"></i>
                </div>
            </div>
            <div class="col-md-11 ">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <p> Order Id: <br>#{{item.id}}</p>
                        <p>Price: <br>{{item.totalPrice}}</p>
                        <p>Status: <br>No the way</p>
                        <div> 
                            <button type="button" (click)="cancleOrder(item.id)" class="btn btn-danger mt-2">Cancel Order</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>