.card-style{
    width: 60%;
    position: relative;
    left: 21%;
    background-color: rgb(228, 196, 241);
}
.center{
   width: 40%;
   font-size: large;
   font-weight: 500;
}

.red{
    color: red;
}
.green{
     color: green;
}
